body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

footer{
  background: #38BCA4;
  height: 100px;
}

h3{
  font-weight: 400;
  margin: 0
}

h1{
  margin: 0
}

a{
  cursor: pointer
}

p{
  margin: 0;
}